<html ng-app="app">
    <head>
        <title>Exzeo ~ Front End Challenge</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
        <script src="https://use.typekit.net/emq7hns.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="styles.css">

        <script src="app/app.js"></script>
        <script src="app/service/top100.service.js"></script>
        <script src="app/controller/top100.controller.js"></script>
        <script src="app/controller/cardDetail.controller.js"></script>
    </head>
    <body class="container" ng-controller="top100ctrl as top">
       <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Front End Challenge</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-right">
                    <div class="form-group">
                        <input type="text" ng-model="albumSearch" class="form-control searchBox" placeholder="Title or Artist">
                    </div>
                </div>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
       <div class="col-md-3 col-sm-12 songCardWrapper" ng-repeat="song in top.top100.entry | filter:{title: {label: albumSearch}}">
           <div class="songCard" ng-click="top.openCard(song)">
                <div class="songInfo">
                    <p class="text-center">{{ song["im:artist"].label }}</p>
                    <p class="text-center">{{ song["im:price"].label }}</p>
                </div>
               <img class="center-block" ng-src="{{ song['im:image'][2].label }}" alt="">
               <p class="text-center">{{ song["im:name"].label }}</p>
           </div>
       </div>


    </body>
</html>
